<div class="info-panel" id="info-panel">

</div>
<script>
	var infopanel;
	$(document).ready(function(){
		infopanel = new InfoPanel("info-panel","info-panel-template");
		$("#info-panel-spawn").on('click', function(){
			infopanel.load(2743);
		});
	});
</script>
<script id="info-panel-template" type="text/x-handlebars-template">
	<div class="<?= d['classes'][0] ?>">
		<div class="top normal">
			<div class="header-image"></div>
			<div class="header-content">
				<div>
					<h2><?= d["Public Name"] ?></h2>
					<h3>
						<?= d["Address 1"]+"<br/>" ?>
						<? if (d["Address 2"]) { ?>
							<?= d["Address 2"]+"<br/>" ?>
						<? } ?>
						<?= d["City"] ?><? if(d["City"] && d["Postal Code"]){ ?>,<? } ?> <?= d["Postal Code"] ?>
					</h3>
				</div>
			</div>
		</div>
		<button class="closem"></button>
		<div class="content">
			<div>
				<div>
					<div class="closer">
						<div class="white-bg icon-culture"></div>
						<div class="white-bg icon-family"></div>
						<div class="white-bg icon-health"></div>
					</div>
					<div class="bottom">
						<? if ( d["DESCRIPTION"] ) { ?>
							<section class="about">
								<h3>About</h3>
								<div class="copy">
									<?= d["DESCRIPTION"] ?>
								</div>
							</section>
						<? } ?>
						<? if ( d["Hours of Operation"] ) { ?>
							<section class="hours">
								<h3>Hours</h3>
								<div class="copy">
									<?
										hours = d["Hours of Operation"].split("; ");
										hours.forEach(function(el) {
									?>
											<?= el ?><br/>
									<?
										});
									?>
								</div>
							</section>
						<? } ?>


						<? if ( d["Website"] && d["Phone"] ) { ?>
							<section class="links row">
								<div class="col-xs-6 darker">
									<a href="<?= d['Website'] ?>" target="_blank">
										<strong>Visit Website</strong>
										<?= d["Website"].replace("http://",'') ?>
									</a>
								</div>
								<div class="col-xs-6 lighter">
									<a href="tel:<?= d['Phone'] ?>" target="_blank">
										<strong>Call Now</strong>
										<?= d["Phone"] ?>
									</a>
								</div>
							</section>
						<? } ?>

					</div>
				</div>
			</div>
		</div>
	</div>
</script>
