<%
    //home.ejs
%>
<style type="text/css">
      html, body, #map { height: 100%; margin: 0; padding: 0;}
    </style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization,places"></script>



<div id="map" style="height: 100%; margin: 0; padding: 0; background:#222">map map</div>


<div class="main-control">
	<div class="inner">
		<div onclick="centerMapToUser(googleMap)" class="icon-target"></div>
		<div class="fancy_search" id="fancy_search">
			<span class="icon-search"></span>
			<span class="searchtext">Tap To Seach</span>
			<input class="searchbox" id="searchBox" type="input"/>
		</div>
		<div class="category_expansion"></div>
	</div>

	<!-- TODO: transition to using search bar below -->
	<!--<div class="search2">
		<form class="search-container" action="">
			<input id="search-box" type="text" class="search-box" name="q" />
			<label for="search-box"><span class="white-bg icon-search search-icon"></span></label>
			<input type="submit" id="search-submit" onclick="submitSearch()"/>
		</form>
	</div>
 -->
</div>
<div id="cat_items" class="cat_items">
	<ul>
		<li data-cat="Legal and Financial">Legal and Financial<span class="icon-legal"></span></li>
		<li data-cat="Health and Social Services">Health and Social Services<span class="icon-health"></span></li>
		<li data-cat="Recreation and Culture">Recreation and Culture<span class="icon-culture"></span></li>
		<li data-cat="Family and Friends">Family and Friends<span class="icon-family"></span></li>
		<li data-cat="Spirituality and Wellbeing">Spirituality and Wellbeing<span class="icon-spirituality"></span></li>
		<li data-cat="Work and School">Work and School<span class="icon-work"></span></li>
		<li data-cat="Sex and Relationships">Sex and Relationships<span class="icon-sexual-health"></span></li>
	</ul>
</div>

<input type="submit" id="searchBtn" style="position: absolute; top: 15px; right: 50px;" onclick="submitSearch()"/>


<input id="searchBox" type="input" style="position: absolute; top: 45px; right: 50px;"/>
<input type="submit" id="locSearchBtn" style="position: absolute; top: 75px; right: 50px;" onclick=""/>

<button id="resetMapBtn" style="position: absolute; top: 75px; right: 110px;">Reset</button>
<button id="filterBtn" style="position: absolute; top: 75px; right: 155px;">Filter</button>


<%- partial('partials/info-panel') %>

<script>
var my_important_json = {'json' : 'cool'};
var mp = new MapParser('map',my_important_json);
var thoughtSpots = [];


//mp.importJson();

// Initializes google maps the moment window finishes loading
google.maps.event.addDomListener(window, 'load', mp.initialize);


</script>
