<%
    //home.ejs
%>
<style type="text/css">
      html, body, #map { height: 100%; margin: 0; padding: 0;}
    </style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization,places"></script>
<div id="map" style="height: 100%; margin: 0; padding: 0; background:#222">map map</div>

<div id="search" style="position: absolute; top: 15px; right: 50px;">
  <button onclick="centerHere()">Click</button>
  <button id="info-panel-spawn">animate infopanel in</button>
</div>
<input type="submit" id="searchBtn" style="position: absolute; top: 15px; right: 50px;" onclick="submitSearch()"/>




<%- partial('partials/info-panel') %>

<script>
var my_important_json = {'json' : 'cool'};
var mp = new MapParser('map',my_important_json);
var thoughtSpots = [];

function centerHere() {
  // Centers the position to current user location
  mp.centerMapToUser();
}



mp.importJson();
mp.limitByTitle("Sdfsd");
google.maps.event.addDomListener(window, 'load', mp.initialize);
//google.maps.event.addDomListener(window, 'load', mp.c);
</script>
