//info panel styles
.info-panel{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  overflow: hidden;
  &.primer{display:block;}

  .top,.content{
    position:absolute;
    width:100%;
    transition:300ms top ease-in-out;
    -webkit-transition:300ms top ease-in-out;
    overflow:hidden;
  }

  .top,.bottom{
    background:#FFF;
  }
  .closer{
    height:150px;
  }

  .bottom{
  }

  .top{
    h2,h3{margin:0px;}
    height:10%;
    top:-10%;
  }
  &.active .top{top:0%;}

  .content{
    overflow:hidden;
    height:90%;
    top:100%;
  }
  &.active .content{top:10%;}
}
