//info panel styles
@textblack: #12100B;
@textgrey: #74706F;

.column (@num){
  -webkit-column-count: @num;
     -moz-column-count: @num;
          column-count: @num;
}

.info-panel{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	overflow: hidden;
	&.primer{display:block;}

	.top,.content{
		position:absolute;
		width:100%;
		transition:300ms top ease-in-out;
		-webkit-transition:300ms top ease-in-out;
		overflow:hidden;
	}

	.top,.bottom{
		background:#FFF;
	}

	.top{
		h2,h3{margin:0px;}
		h2{font-size:16px; margin-bottom:10px;}
		h3{font-size:10px;padding-left:15px;}
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
		height:100px;
		top:-100px;
		z-index:1;
		color:#FFF;

		.header-image{
			background-color:#FFF;
			margin:25px;
			width:50px;
			height:50px;
			border-radius: 100%;
			position:absolute;
			top:0px;
		}

		.header-content{
			height:100px;
			padding-left:100px;
			padding-right:15px;
			width:100%;
			box-sizing: border-box;
			>div {
				display: table-cell;
				vertical-align: middle;
				height:100px;
			}
		}
	}
	&.active .top{top:0px;}

	.content{
		overflow:hidden;
		height:100%;
		padding-top:100px;
		top:100%;
		box-sizing: border-box;
		>div{
			position:relative;
			height:100%;
			width:100%;
		}
	}
	&.active .content{top:0px;}

	.closer{
		height:150px;
		font-size:20px;
		padding:15px;
		box-sizing: border-box;
		>div{
			margin-bottom:3px;
			//box-shadow: 0px 0px 10px;
			border-radius: 100%;
			width: 1em;
			position: relative;
		}
	}

	.closem{
		border:none;
		border-radius:100%;
		background:@textgrey;
		box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
		display:block;
		position:absolute;
		bottom:15px;
		height:50px;
		width:50px;
		z-index:2;
		right:-80px;
		transition:300ms right ease-in-out 0ms;
		-webkit-transition:300ms right ease-in-out 0ms;
		color:#FFF;
		font-size:30px;
		line-height: 50px;
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			line-height: 52px;
		}
	}
	&.active .closem{
		right:15px;
		transition-delay:300ms;
		-webkit-transition-delay:300ms;
	}

	.bottom{
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
		box-sizing: border-box;
		padding:25px 15px;
		color:@textgrey;
		h3{
			color:@textblack;
			font-size:14px;
			padding-left:25px;
		}
		.copy{
			padding:4px 0px 0px 12px;
			border-left:1px solid @textgrey;
			margin-left:12px;
		}

		section{
			margin-bottom:1em;

			h3{
				[class^="icon-"], [class*=" icon-"] {
					position:absolute;
					margin-left: -19px;
					margin-top: 2px;
					&:before{
						color:@textgrey;
					}
				}
			}

			&.hours{
				.copy{
					.column(2);
				}
			}
			&.links{
				text-align: center;
				strong{ display:block; }
				a{display:block;padding:20px 0px;color:#FFF;}
			}
		}
	}
}

.culture .normal{background-color:@culture-colour;}
.culture .darker{background-color:darken(@culture-colour,5%);}
.culture .lighter{background-color:lighten(@culture-colour,5%);}

.family .normal{background-color:@family-colour;}
.family .darker{background-color:darken(@family-colour,5%);}
.family .lighter{background-color:lighten(@family-colour,5%);}

.health .normal{background-color:@health-colour;}
.health .darker{background-color:darken(@health-colour,5%);}
.health .lighter{background-color:lighten(@health-colour,5%);}

.legal .normal{background-color:@legal-colour;}
.legal .darker{background-color:darken(@legal-colour,5%);}
.legal .lighter{background-color:lighten(@legal-colour,5%);}

.relationships .normal{background-color:@relationships-colour;}
.relationships .darker{background-color:darken(@relationships-colour,5%);}
.relationships .lighter{background-color:lighten(@relationships-colour,5%);}

.spirituality .normal{background-color:@spirituality-colour;}
.spirituality .darker{background-color:darken(@spirituality-colour,5%);}
.spirituality .lighter{background-color:lighten(@spirituality-colour,5%);}

.work .normal{background-color:@work-colour;}
.work .darker{background-color:darken(@work-colour,5%);}
.work .lighter{background-color:lighten(@work-colour,5%);}

