//info panel styles
.info-panel{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  overflow: hidden;
  &.primer{display:block;}

  .top,.bottom{
    background:#FFF;
    position:absolute;
    width:100%;
    transition:300ms top ease-in-out;
    -webkit-transition:300ms top ease-in-out;
    overflow:hidden;
  }
  .closer{
    top:10%;
    height:30%;
    position:absolute;
    width:100%;
  }

  .top{
    h2,h3{margin:0px;}
    height:10%;
    top:-10%;
  }
  &.active .top{top:0%;}

  .bottom{
    overflow:hidden;
    height:60%;
    top:100%;
  }
  &.active .bottom{top:40%;}
}
